
body {
font-family: 'Poppins', sans-serif;
background: url("images/cosmos.jpg") no-repeat left top;
}



.login-form {
	border: 1px solid darkblue;
	background-color: #172078;
	width: 500px;
	height: 300px;
	margin: 0 auto;
	justify-content: center;
	padding: 100px;

}
.login-form  a {
	text-decoration: none;
	position: relative;
	font-size: 30px;
	color: #fff;
	top: -5.9vh;
	left: 13vw;
    font-weight: bold;
}
.login-form  a:hover {
	text-decoration: underline;
	color: #696969;
}
label {
	position: relative;
	left: 8px;
}
button:hover {
	background-color: #a9d6eb;
	border: none;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

.form__text {
	font-size: 30px;
	padding:  0;
	margin: 10px;
	box-sizing: border-box;
	color: #fff;

}

.form__email1 {
	border: 1px solid darkblue;
	border-radius: 10px;
	width: 500px;
	height: 50px;
	margin: 10px;
}

.form__password1 {
	border: 1px solid darkblue;
	border-radius: 10px;
	width: 500px;
	height: 50px;
	margin: 10px;
}

.form__submit {
	border: 1px solid darkblue;
	border-radius: 10px;
	width: 500px;
	height: 50px;
	margin: 10px;
	background-color: #4682b4;
}

.form__name1 {
	border: 1px solid darkblue;
	border-radius: 10px;
	width: 500px;
	height: 50px;
	margin: 10px;
}


.menu {
	position: fixed;
	z-index: 1;
	width: 100vw;
}
.menu_main {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 3px;
    background-color: #000;
    height: 6vh;
    margin: 0;
}
.menu_main a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	height: 5vh;
	width: 10vw;
	text-align: center;
	text-transform: uppercase;
	padding: 3px 4px 3px 4px;
    border: none;
    border-radius: 10px;
        margin: 0px 1px 1px 1px;

}
.menu_main a:hover {
	background-color: #090994;
	transition: width 0.5s ease-out; 
}
.menu_main li {
	padding-right: 2px;
	display: flex;
	align-items: center;
}

