@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&family=Poppins:wght@200;300&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
         -box-sizing: border-box;
}
body {
font-family: 'Poppins', sans-serif;
}
.menu {
  position: fixed;
  z-index: 1;
  width: 100vw;
      height: 5vh;
}
.menu_main {
    list-style: none;
    display: inline-block;
    display: flex;
    flex-wrap: wrap;

    background-color: #000;

}
.menu_main a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  height: 6vh;
  width: 10vw;
  text-align: center;
    text-transform: uppercase;
        padding: 3px 4px 3px 4px;
    border: 1px solid black;
    border-radius: 10px;
        margin: 0px 1px 1px 1px;
            text-align: center;
}
.menu_main a:hover {
  background-color: #090994;
  transition: width 0.5s ease-out; 
}
.menu_main li {
  padding-right: 2px;
  display: flex;
  align-items: center;
}

section {
  width: 100%;
  height: 750px;
  background: url("images/cosmos.jpg") no-repeat left top;
  position: relative;
  
}
 .star {
    position: absolute;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,.1),
        0 0 0 8px rgba(255,255,255,.1),
        0 0 20px rgba(255,255,255,1);
    animation: animate 3s linear infinite;
}    
 .star:before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#fff,transparent);
}  
 @keyframes animate{
    0%
    {
        transform: rotate(-45deg) translateX(0);
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(-45deg) translateX(-1000px);
        opacity: 0;
    }
}  
.star:nth-child(1){
    top: 0px;
    right: 0px;
    animation-delay: 0;
    animation-duration: 1s;
}
.star:nth-child(2){
    top: 0px;
    right: 80px;
    animation-delay: 0.2s;
    animation-duration: 3s;
}
.star:nth-child(3){
    top: 80px;
    right: 0px;
    animation-delay: 0.4s;
    animation-duration: 2s;
}
.star:nth-child(4){
    top: 0px;
    right: 180px;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}
.star:nth-child(5){
    top: 0px;
    right: 400px;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}
.star:nth-child(6){
    top: 0px;
    right: 600px;
    animation-delay: 1s;
    animation-duration: 3s;
}
.star:nth-child(7){
    top: 300px;
    right: 0px;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}
.star:nth-child(8){
    top: 0px;
    right: 700px;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}
.star:nth-child(9){
    top: 0px;
    right: 1000px;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}
.star:nth-child(10){
    top: 0px;
    right: 450px;
    animation-delay: 2.75s;
    animation-duration: 2.25s;
}    

section h1 {
	z-index: 1;
	color: #fff;
position: relative;
top: 240px;
left: 550px;
	font-size: 50px;
}
section h3 {
	z-index: 1;
	color: #fff;
position: relative;
top: 240px;
left: 550px;
	font-size: 25px;
}

.solarsystem  {
    width: 80vw;
    font-size: 18px;
    text-align: justify;
    margin: 0 auto;
    position: relative;
    top: 5vh;
}


.planets {
    margin: 0 auto;
   position: relative;
      top: 13vh;
      
   display: grid;
   grid-template-columns: repeat(4, 15vw);
   grid-column-gap: 5vw;
   grid-row-gap: 2vh;


}

.planet img:hover {
width: 5vw;
transition: 0.5s;
}
#planet_parg {
   position: relative;
   font-size: 18px;
   font-weight: bold;
}


main {

 margin-left: 15vw;
}
article {
    width: 68vw;
    position: relative;
    top: 15vh;
    text-align: justify;
}
article {

}


.cosmo__animation {
position: relative;

top: 4vh;
margin: 0 auto;
   width: 800px;
   height:350px;
   background: url(images/planets.jpg); 
   animation: slide 10s infinite;
}
.cosmo__animation img {
  width: 60vw;
   height:50vh;
   border-radius: 10px;
}

@keyframes slide {
   25% {
      background: url(images/planets4.jpg);
   }

   50% {
      background: url(images/planets2.jpg);
   }

   75% {
      background: url(images/planets3.jpg);
   }

   100% {
      background: url(images/planets.jpg);
   }
}


footer  {
   width: 100%;
   height: 75vh;
   background-color: #2c2d2e;
   position: relative;
   top: 20vh;
   display: grid;
   grid-template-columns: repeat(3,15vw);
   grid-column-gap: 4vw;
   color: #a2a3a6;
}
iframe {
    left: 8vw;
    position: relative;
    top: 18vh;
    display: inline-block;
}
footer a {
    text-decoration: none;
    color: #a2a3a6;
}
footer a:hover {

    color: #fff;
    transition: 0.1s;
}
.links .icons img {
   width: 2.1vw;
}

.links {
   position: relative;
top: 3vh;
      left: 10vw;
}
.links img {
width: 1.1vw;
color: #fff;

}
.links__parg {
    color: #fff;
}
.map__card {
    position: relative;
    top: -35vh;
    left: 55vw;
}
#map {
    width: 27vw;
    height: 40vh;
    position: relative;
    top: 4vh;
    left: 7vw;
}










/*EXTRA SMALL <=576px*/
 @media screen and (max-width: 576px) {
    
.menu {
    position: fixed;
    z-index: 1;
    width: 100vw;
      height: 6vh;
}
.menu_main a {
    font-size: 12px;
    height: 7vh;
    width: 12vw;
        padding: 9px 4px 3px 4px;
        margin: 0px 1px 1px 1px;
            text-align: center;
}


section {
    width: 100%;
    height: 70vh;
    background: url("images/cosmos.jpg") no-repeat left top;
    position: relative;
    
}


section h1 {
position: relative;
top: 25vh;
left: 27vw;
    font-size: 35px;
}
section h3 {
    z-index: 1;
    color: #fff;
position: relative;
top: 25vh;
left: 27vw;
    font-size: 16px;
}


.solarsystem  {
    width: 80vw;
    font-size: 14px;
}
.planets {
   position: relative;
   display: grid;
   grid-template-columns: repeat(3, 20vw);
   grid-column-gap: 7vw;
   grid-row-gap: 2vh;


}
.planet img:hover {
width: 15vw;
transition: 0.5s;
}
#planet_parg {
   position: relative;
   font-size: 13px;
   font-weight: bold;
}

main {
  margin-left: 10vw;
}
article {
    width: 80vw;
    position: relative;
    top: 15vh;
    text-align: justify;
    font-size: 13px;
}


.cosmo__animation {
position: relative;

top: 4vh;
margin: 0 auto;
   width: 80vw;
   height:40vh;
   background: url(images/planets.jpg); 
   animation: slide 10s infinite;
}
.cosmo__animation img {
  width: 80vw;
   height:40vh;
   border-radius: 10px;
}

footer  {
   width: 100%;
   height: 80vh;
   position: relative;
   top: 20vh;
   display: grid;
   grid-template-columns: repeat(3,30vw);
   grid-column-gap: 1vw;
   color: #a2a3a6;
   font-size: 14px;
}
.links .icons img {
   width: 5vw;
}

.links {
   position: relative;
top: 3vh;
      left: 10vw;
}

.map__card {
    position: relative;
    top: 5vh;
    left: 15vw;
}
#map {
    width: 70vw;
    height: 30vh;
}

iframe {
  width: 80vw;
  height: 40vh;
  position: relative;
  left: 0vw;
  }
}








/*768px */
@media only screen and (min-width: 768px)  {
 .menu {
    position: fixed;
    z-index: 1;
    width: 100vw;
      height: 6vh;
}
.menu_main a {
    font-size: 12px;
    height: 7vh;
    width: 12vw;
        padding: 9px 4px 3px 4px;
        margin: 0px 1px 1px 1px;
            text-align: center;
}


section {
    width: 100%;
    height: 70vh;
    background: url("images/cosmos.jpg") no-repeat left top;
    position: relative;
    
}


section h1 {
position: relative;
top: 25vh;
left: 27vw;
    font-size: 35px;
}
section h3 {
    z-index: 1;
    color: #fff;
position: relative;
top: 25vh;
left: 27vw;
    font-size: 16px;
}


.solarsystem  {
    width: 80vw;
    font-size: 14px;
}
.planets {
   position: relative;
   display: grid;
   grid-template-columns: repeat(3, 20vw);
   grid-column-gap: 7vw;
   grid-row-gap: 2vh;


}
.planet img:hover {
width: 15vw;
transition: 0.5s;
}
#planet_parg {
   position: relative;
   font-size: 13px;
   font-weight: bold;
}

main {
  margin-left: 10vw;
}
article {
    width: 80vw;
    position: relative;
    top: 15vh;
    text-align: justify;
    font-size: 13px;
}


.cosmo__animation {
position: relative;

top: 4vh;
margin: 0 auto;
   width: 80vw;
   height:40vh;
   background: url(images/planets.jpg); 
   animation: slide 10s infinite;
}
.cosmo__animation img {
  width: 80vw;
   height:40vh;
   border-radius: 10px;
}

footer  {
   width: 100%;
   height: 80vh;
   position: relative;
   top: 20vh;
   display: grid;
   grid-template-columns: repeat(3,30vw);
   grid-column-gap: 1vw;
   color: #a2a3a6;
   font-size: 14px;
}
.links .icons img {
   width: 5vw;
}

.links {
   position: relative;
top: 3vh;
      left: 10vw;
}

.map__card {
    position: relative;
    top: 5vh;
    left: 15vw;
}
#map {
    width: 70vw;
    height: 30vh;
}

iframe {
  width: 80vw;
  height: 40vh;
  position: relative;
  left: 0vw;
  }
}
  }



  @media only screen and (min-width: 1024px) {
       .menu {
    width: 100vw;
      height: 5vh;
}
.menu_main a {
    font-size: 16px;
    height: 6vh;
    width: 14vw;
        padding: 9px 3px 3px 3px;
        margin: 0px 0px 0px 0px;
}


section {
    width: 100%;
    height: 90vh;
    background: url("images/cosmos.jpg") no-repeat left top;
    position: relative;
}


section h1 {
position: relative;
top: 30vh;
left: 35vw;
    font-size: 45px;
}
section h3 {
    z-index: 1;
    color: #fff;
position: relative;
top: 30vh;
left: 35vw;
    font-size: 23px;
}

.cosmo_info {
position: relative;
top: 56.5vh;
width: 100%;
padding-left: 20px;
height: 20vh;
}
.cosmo_info p {
    font-size: 14px;
    width: 70%;
    text-align: left;
    padding-top: 5px;
}


.articles {
   position: relative;
      top: 10vh;
      left: 10vw;
   display: grid;
   grid-template-columns: repeat(3, 25vw);
   grid-column-gap: 2vw;
   grid-row-gap: 3.5vh;
}

.article img {
   width: 25vw;
   height: 25vh;
}


footer  {
   width: 100%;
   height: 80vh;
   position: relative;
   top: 20vh;
   display: grid;
   grid-template-columns: repeat(3,28vw);
   grid-column-gap: 1vw;
   color: #a2a3a6;
   font-size: 16px;
}
.links .icons img {
   width: 2vw;
}

.links {
   position: relative;
top: 3vh;
      left: 10vw;
}

.map__card {
    position: relative;
    top: 5vh;
    left: 25vw;
}
#map {
    width: 50vw;
    height: 30vh;
}



.wrapper_text {
    font-size: 18px;
    position: relative;
    top: 12vh;
}


    }




/* 1440<= */
@media only screen and (min-width: 1440px) {
 
.menu {
    position: fixed;
    z-index: 1;
    width: 100vw;
      height: 5vh;
}
.menu_main {
    list-style: none;
    display: inline-block;
    display: flex;
    flex-wrap: wrap;

    background-color: #000;

}
.menu_main a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    height: 6vh;
    width: 10vw;
    text-align: center;
    text-transform: uppercase;
        padding: 3px 4px 3px 4px;
    border: 1px solid black;
    border-radius: 10px;
        margin: 0px 1px 1px 1px;
            text-align: center;
}
.menu_main a:hover {
    background-color: #090994;
    transition: width 0.5s ease-out; 
}
.menu_main li {
    padding-right: 2px;
    display: flex;
    align-items: center;
}

section {
  width: 100%;
  height: 750px;
  background: url("images/cosmos.jpg") no-repeat left top;
  position: relative;
  
}
section h1 {
  z-index: 1;
  color: #fff;
position: relative;
top: 240px;
left: 550px;
  font-size: 50px;
}
section h3 {
  z-index: 1;
  color: #fff;
position: relative;
top: 240px;
left: 550px;
  font-size: 25px;
}

.solarsystem  {
    width: 80vw;
    font-size: 18px;
    text-align: justify;
    margin: 0 auto;
    position: relative;
    top: 5vh;
}


.planets {
    margin: 0 auto;
   position: relative;
      top: 13vh;
      
   display: grid;
   grid-template-columns: repeat(4, 15vw);
   grid-column-gap: 5vw;
   grid-row-gap: 2vh;


}

.planet img:hover {
width: 5vw;
transition: 0.5s;
}
#planet_parg {
   position: relative;
   font-size: 18px;
   font-weight: bold;
}


main {

 margin-left: 15vw;
}
article {
    width: 68vw;
    position: relative;
    top: 15vh;
    text-align: justify;
}
article {

}


.cosmo__animation {
position: relative;

top: 4vh;
margin: 0 auto;
   width: 800px;
   height:350px;
   background: url(images/planets.jpg); 
   animation: slide 10s infinite;
}
.cosmo__animation img {
  width: 60vw;
   height:50vh;
   border-radius: 10px;
}

footer  {
   width: 100%;
   height: 75vh;
   background-color: #2c2d2e;
   position: relative;
   top: 20vh;
   display: grid;
   grid-template-columns: repeat(3,15vw);
   grid-column-gap: 4vw;
   color: #a2a3a6;
}
iframe {
    position: relative;
    top: 18vh;
    display: inline-block;
    width: 70vw;
}
footer a {
    text-decoration: none;
    color: #a2a3a6;
}
footer a:hover {

    color: #fff;
    transition: 0.1s;
}
.links .icons img {
   width: 2.1vw;
}

.links {
   position: relative;
top: 3vh;
      left: 10vw;
}
.links img {
width: 1.1vw;
color: #fff;

}
.links__parg {
    color: #fff;
}




.map__card {
    position: relative;
    top: 5vh;
    left: 25vw;
}
#map {
    width: 50vw;
    height: 30vh;
}





  }










